Repository COS301-SE-2024/IoT-DIRfram, pull requests merged in 2024-08, with the labels that each got.

#102 Feature/backend add pi
  backend/routes/auth.js
  backend/routes/device.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IOT_DEVICE/IOT_DEVICE.js
Labels: enhancement

#105 Feature/update iot page
  frontend/src/components/IOT_DEVICE/IOT_DEVICE.css
  frontend/src/components/IOT_DEVICE/IOT_DEVICE.js
  frontend/src/pages/Help/help.css
Labels: enhancement, Frontend

#106 Feature/update iot page
  backend/routes/auth.js
  backend/routes/device.js
  frontend/src/assets/orange-cropped.svg
  frontend/src/assets/orange.svg
  frontend/src/components/Device/Device.js
  frontend/src/components/Device/Modal.js
  frontend/src/components/IOT_DEVICE/IOT_DEVICE.js
  frontend/src/pages/Dashboard/Dashboard.js
  frontend/src/pages/Edit-Profile/EditProfile.js
  frontend/src/pages/Profile/Profile.js
  frontend/src/pages/Profile/ProfileConfig.js
  frontend/src/pages/RaspberryPi/RaspberryPi.js
Labels: enhancement, Frontend

#108 Feature/update iot page
  frontend/src/components/IOT_DEVICE/IOT_DEVICE.js
Labels: bug, enhancement

#107 Feature/newtests
  backend/routes/auth.js
  backend/routes/device.js
  backend/tests/auth.test.js
  backend/tests/device.test.js
Labels: test
